<ion-app>
    <ion-menu side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            SOSCiclistas
          </ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/emergencies/tabs/find">
              <ion-icon name="business" slot="start"></ion-icon>
              <ion-label>Find Emergencies</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/emergencies/tabs/my-emergencies">
              <ion-icon name="checkbox-outline" slot="start"></ion-icon>
              <ion-label>My Emergencies</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/chat">
              <ion-icon name="checkbox-outline" slot="start"></ion-icon>
              <ion-label>Chat</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" (click)="OnLogout()" button>
              <ion-icon name="exit" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-app>
  